@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, machina;
}

@font-face {
  font-family: 'Neue Machina 5';
  src: url('/fonts/neue-machina-5.woff2')format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
